.title-section{
    height: 70vh;   
}

.title-image{
    max-height: 700px;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.title-content{
    color: white;
    padding-bottom: 3%;
    padding-left: 5%;
}

.title-text{
    margin: 10px;
}
