.mainHorizontal{    
    display: grid;    
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(7, minmax(55px, 70px));
    column-gap: 10px;
    row-gap: 4px;
    grid-template-areas: 
    ". a3 b3 c3 d3 e3 f4"
    ". . . . . . f3"
    ". a2 b2 c2 d2 e2 f2" 
    ". a1 b1 c1 d1 e1 f1"
    ;
          
}

.A1{
    grid-area: a1;
}
.A2{
    grid-area: a2;
}
.GID{
    grid-area: a3;
}
.B1{
    grid-area: b1;
}
.B2{
    grid-area: b2;
}
.B3{
    grid-area: b3;
}
.C1{
    grid-area: c1;
}
.C2{
    grid-area: c2;
}
.C3{
    grid-area: c3;
}
.D1{
    grid-area: d1;
}
.D2{
    grid-area: d2;
}
.D3{
    grid-area: d3;}
.E1{
    grid-area: e1;
}
.E2{
    grid-area: e2;
}
.E3{grid-area: e3;}
.F1{grid-area: f1;}
.F2{grid-area: f2;}
.F3{grid-area: f3;}
.F4{grid-area: f4;}
